{% extends "ingresado.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Agregar Venta{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Agregar Venta Nueva:</h1>
</div>

<h3></h3>
		<form action="http://127.0.0.1:5000/agregarventa" method="POST">
			<b>Código: (3 Letras y 3 números Ej: ABC123)</b>
			<p><input type='text' name='codigo'></p>
			<b>Producto:</b>
			<p><input type='text' name='producto'></p>
			<b>Cliente:</b>
			<p><input type='text' name='cliente'></p>
			<b>Precio:</b>
			<p><input type='text' name='precio'></p>
			<b>Cantidad:</b>
			<p><input type='text' name='cantidad'></p>
			<input type='submit' name='submit'>
			{% if error != 0 %}
				{% for error in error %}
					<h4>{{ error }}</h4>
				{% endfor %}
			{% endif %}
{% endblock %}