{% extends "ingresado.html" %}

{% block title %}Ver listado{% endblock %}

{% block page_content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado</title>
</head>
<body>

<h1>Resultados de la Búsqueda</h1>

<table width=100%>
	<tr>
	<th>CODIGO</th>
	<th>PRODUCTO</th>
	<th>CLIENTE</th>
	<th>CANTIDAD</th>
	<th>PRECIO</th>
</tr>
	{% for item in lista %}
    <tr>
    	<td>{{ item["CODIGO"] }}
    	<td>{{ item["PRODUCTO"] }}
    	<td>{{ item["CLIENTE"] }}
    	<td>{{ item["CANTIDAD"] }}
    	<td>{{ item["PRECIO"] }}
    </tr>
    {% endfor %}


</body>
</html>

{% endblock %}
